<!DOCTYPE html>
<html lang="en">
<head>
  <title>Air Quality App</title>
  <meta charSet="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div>
  <h1>Air Quality App</h1>
</div>
<div>
  <b>Place: </b>
  <input type="text" value="Aveiro" id="place">
  <button onClick="callAPI()">OK</button>
</div>
<br/>
<div>
  <b>Carbon Monoxide Level: </b>
  <span id="coLevel"></span>
</div>
<br/>
<div>
  <b>Ozone Level: </b>
  <span id="o3Level"></span>
</div>
<br/>
<div>
  <b>Nitrogen Dioxide level: </b>
  <span id="no2Level"></span>
</div>
<br/>
<div>
  <b>Fine particulate matter 10: </b>
  <span id="pm10Level"></span>
</div>
<br/>
<div>
  <b>Fine particulate matter 2.5: </b>
  <span id="pm25Level"></span>
</div>
<br/>
</body>
<script type="text/javascript">
  function callAPI() {
    var placeSelect = document.getElementById("place").value;
    var json = fetch("http://localhost:8082/city/" + placeSelect)
            .then((resp) => resp.json())
            .then(function (data) {
              document.getElementById("coLevel").textContent = data["data"][0]["co"];
              document.getElementById("o3Level").textContent = data["data"][0]["o3"];
              document.getElementById("no2Level").textContent = data["data"][0]["no2"];
              document.getElementById("pm10Level").textContent = data["data"][0]["pm10"];
              document.getElementById("pm25Level").textContent = data["data"][0]["pm25"];
            })
  }

  window.onload = callAPI();
</script>
</html>